.contact{
  /* border: 2px solid red; */
  border-bottom: 0.8px solid #7f7f7f;
  width: 100%;
  height: 90px;
  z-index: 6;
  display: flex;
  flex-direction: row;
  gap: 0;
  background: black;
}
.logo{
  width: 49%;
  height: 100%;
  pointer-events: none;
  touch-action: none;
  /* background: blue; */
}
.socialIcon{
  z-index: 5;
  color: white;
  /* background: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  width: 49%;
}
.socialIcon a>svg{
  fill: #ffffff;
  font-size: 0.5rem;
  width: 40px;
  height: 40px;
  /* background: blue; */
}