body {
  background: #180f24;
}
.mainContainer{
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background: #180f24;
  display: flex;
  justify-content: center;
  align-items: center;
    z-index: 5;
}
.navIcon{
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background: #676767a7;
  /* color: #ffffff; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-logo{
  list-style: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 100%;
  color: white;
}
.tooltip {
  position: relative;
  /* display: inline-block; */
  /* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext {
  /* visibility: hidden; */
  transition: 0.8s ease all;
  opacity: 0;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  transform: scale(0.7);
  /* Position the tooltip */
  position: absolute;
  top: -150%;
  z-index: 1;
  visibility: hidden;
}

.tooltip:hover .tooltiptext {
  /* visibility: visible; */
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}


/* .navbar-logo:focus{
  list-style: none;
  text-decoration: none;
  outline: none;
  background: transparent;
  box-shadow: none;
}
.navbar-logo:active{
  list-style: none;
  text-decoration: none;
  background: transparent;
}
.navbar-logo:hover{
  list-style: none;
  text-decoration: none;
  background: transparent;
  box-shadow: none;
} */
.active {
  color: #ce0000;
  /* border: 2px solid #7f0000a7; */
}
